/* Estilo para el cuerpo de la página */
body {
  font-family: 'Bree Serif', serif;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: white;
}


/* Estilos generales para el navbar */
.navbar {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: white;
}

/* Estilo para el botón del toggler en dispositivos móviles */
.navbar-toggler {
  border-color: white;
  /* Cambia el color del icono del toggler en dispositivos móviles */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
  color: white;
  font-size: 16px;
}

/* Estilo para el formulario de búsqueda */
.form-inline .form-control {
  border-color: white;
}

/* Estilo para los botones de búsqueda y cerrar sesión */
.navbar-nav .btn {
  font-size: 16px;
  margin-left: 10px;
  /* Ajusta el espacio entre los elementos del navbar */
}

/* Estilo para el mensaje de bienvenida */
.navbar-brand::after {
  font-size: 14px;
}

/* Estilos para el navbar fijo en la parte superior */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

/* Estilos para el enlace activo en el navbar */
.navbar-nav .nav-item.active .nav-link {
  background-color: transparent;
  /* Evita que el enlace activo tenga un fondo de color */
  border-bottom: 2px solid white;
  /* Añade un borde inferior al enlace activo */
}

form.form-inline {
  margin-top: 0em;
}

.container {
  margin-top: 80px;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  /* margin-top: 80px; */
}

h2 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}

.row {
  margin-bottom: 20px;
}

.col-md-12 {
  margin-bottom: 20px;

}

#cast.row {
  margin-top: 10px;
  margin-left: 0px;
}

#cast .col-md-4 {
  margin-bottom: 10px;
}

/* Estilo para el contenedor de imágenes */
#series-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Espacio entre las imágenes */
  margin-top: 20px;
  /* Espacio superior */
}

/* Estilo para cada imagen */
#series-images img {
  max-width: calc(33.33% - 10px);
  /* Ancho de cada imagen (33.33% del contenedor) con espacio entre ellas */
  height: auto;
  margin-bottom: 20px;
  /* Espacio inferior entre las imágenes */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

#series-platforms {
  margin-left: auto;
}

#no-platforms-message {
  display: none;
  /* Oculta el mensaje por defecto */
  background-color: lightgray;
  /* Fondo gris claro */
  color: black;
  /* Texto negro */
  font-size: 18px;
  /* Tamaño de fuente */
  padding: 10px;
  /* Espaciado interno */
  margin-top: 20px;
  /* Espacio superior */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
}

#series-cast {
  margin-left: 1px;
}

#trailer-container iframe {
  margin-top: 18px;
  width: 800px;
  height: 450px;
}

#series-trailer-container iframe {
  margin-top: 18px;
  width: 800px;
  height: 450px;
}

#series-title img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 0px;
  display: block;
  margin-top: 30px;
}

.no-trailer-message {
  background-color: lightgray;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin-top: 200px;
  text-align: center;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Espacio entre las imágenes */
  margin-top: 20px;
  /* Espacio superior */
}

/* Estilo para cada imagen */
#images img {
  max-width: calc(33.33% - 10px);
  /* Ancho de cada imagen (33.33% del contenedor) con espacio entre ellas */
  height: auto;
  margin-bottom: 20px;
  /* Espacio inferior entre las imágenes */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

#title img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 0px;
  display: block;
  margin-top: 30px;
}

/* Estilos para el contenedor principal del reparto */
.cast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Espacio entre los contenedores de actores */
}

/* Estilos para el contenedor del actor */
.actor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 10px;
  /* Espaciado interno */
  margin: 10px;
  /* Margen para separar los actores */
}

/* Estilos para la imagen del actor */
.actor-container img {
  width: 50%;
  /* Ajusta el tamaño de la imagen */
  height: auto;
  border-radius: 50%;
  /* Para redondear la imagen como TMDb */
}

/* Estilos para el nombre del actor */
.actor-name-container {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  /* Espacio superior entre la imagen y el nombre */
}

/* Estilo para las secciones */
.section {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

/* Estilo para los títulos de sección */
.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilo para el botón "Agregar a Favoritos" */
#addToFavorites {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addToFavorites:hover {
  background-color: #2980b9;
}

/* Estilo para el botón "Eliminar de Favoritos" */
#removeFromFavorites {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s;
}

#removeFromFavorites:hover {
  background-color: #c0392b;
}


.icon-favoritos {
  background: url('img/favoritos.png') no-repeat;
  width: 16px;
  /* Ajusta el ancho del icono según tus necesidades */
  height: 16px;
  /* Ajusta la altura del icono según tus necesidades */
  display: inline-block;
  vertical-align: middle;
  /* Para alinear verticalmente el icono con el texto del botón */
  margin-right: 5px;
  /* Agrega un margen derecho para separar el icono del texto */
}

.no-images-message {
  margin-left: 12px;
}

.nav-link:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus preferencias */
}