@media screen and (max-width: 768px) {
  /* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas (por ejemplo, tabletas) */
}

@media screen and (min-width: 1025px) {
  /* Estilos para pantallas grandes (por ejemplo, computadoras de escritorio) */
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #141B41;
}

.bg-custom {
  background-color: #141B41;
  color: white;
}

.navbar {
  background-color: #141B41;
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 16px;
}

.form-inline .form-control {
  border-color: white;
}

.navbar-nav .btn {
  font-size: 16px;
  margin-left: 10px;
}

.navbar-brand::after {
  font-size: 14px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

.navbar-nav .nav-item.active .nav-link {
  background-color: transparent;
  border-bottom: 2px solid white;
}

.nav-link:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.1);
}


#upcoming-movies {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie {
  width: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
  transition: transform 0.3s, background 0.3s;
  cursor: pointer;
}

.movie img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.movie h2 {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie p {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
}

.movie:hover {
  transform: scale(1.02);
  background: rgba(0, 0, 0, 0.5);
}

.movie:hover img {
  transform: scale(1.05);
}

h1 {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
}
