@media screen and (max-width: 768px) {
  /* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas (por ejemplo, tabletas) */
}

@media screen and (min-width: 1025px) {
  /* Estilos para pantallas grandes (por ejemplo, computadoras de escritorio) */
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #141B41;
}

.bg-custom {
  background-color: #141B41;
  color: white;
}

.nav-link:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.upcoming-movies {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
  transition: background 0.3s, transform 0.2s;
}

.card .card-img {
  width: 100%;
  max-height: 100%;
}

.card .card-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

.card-title {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.card .card-img img {
  border: 2px solid white;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.02);
  background: rgba(0, 0, 0, 0.9);
}

.card:hover img {
  transform: scale(1.05);
}

h1 {
  text-align: center;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}