@media screen and (max-width: 768px) {
  /* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas (por ejemplo, tabletas) */
}

@media screen and (min-width: 1025px) {
  /* Estilos para pantallas grandes (por ejemplo, computadoras de escritorio) */
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #141B41;
}


.navbar {
  background-color: #141B41;
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 16px;
}

.form-inline .form-control {
  border-color: white;
}

.navbar-nav .btn {
  font-size: 16px;
  margin-left: 10px;
}

.navbar-brand::after {
  font-size: 14px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

.navbar-nav .nav-item.active .nav-link {
  background-color: transparent;
  border-bottom: 2px solid white;
}


.container.my-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 80vh;
}

#movie-carousel {
  margin-top: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.bienvenida-texto strong {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


.nav-link:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.1);
}



.carousel .row a img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.carousel .row a {
  margin-right: -2px;
}

.carousel-control-next,
.carousel-control-prev {
  margin-top: 90px;
  margin-right: 250px;
  margin-left: 160px;
  position: absolute;
  top: 0;
}

.carousel .row {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-control {
  overflow: hidden;
}

.carousel-control-next {
  right: 0;
  margin-right: 0;
}

.carousel-control-prev {
  left: 0;
  margin-left: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
}

.card {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.carousel .carousel-inner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s;
}

.carousel .carousel-inner img:hover {
  transform: scale(1.05);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}